<div class="container mt-4">


  <% if params[:submitted].nil? %>
    <h1>Upload CSV</h1>
    <%= form_with(url: import_file_uploads_path, local: true, multipart: true) do |form| %>
      <div class="mb-3">
        <%= form.label :file, "Choose CSV file", class: "form-label" %>
        <%= form.file_field :file, class: "form-control", accept: ".csv" %>
      </div>
      <%= form.submit "Upload CSV", class: "btn btn-primary" %>
    <% end %>
  <% else %>
    <div class="container text-center">
      <%= form_with(url: uploads_path, method: :post, local: true) do |f| %>
        <h1 class="mb-5">Map the layout of your csv to our platform.</h1>
        <% @arr.each do |model, columns| %>
          <div class="d-inline-block align-top me-5 ms-5">
            <h3><%= model %></h3>
            <% columns.each do |key, value| %>
              <p>
                <strong><%= f.label key %></strong><br>
                <%= f.select "#{model}[#{key}]", @uploaded_headers, { include_blank: "Select column" } %>
              </p>
            <% end %>
          </div>
        <% end %>
        <div class="w-100 d-flex justify-content-center">
          <%= f.submit "Save mapping", class: "btn btn-primary mt-2" %>
        </div>
      <% end %>
    </div>
  <% end %>
</div>